## Day 28 Lecture 2 Assignment

In this assignment, we will learn about overfitting and regularization. We will use the king county housing dataset loaded below and analyze the regression from this dataset.

In [1]:
%matplotlib inline

import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
king_county = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kc_house_data.csv')

In [3]:
king_county.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

Perform the same transformations in the previous assignment to meet model assumptions:
1. Remove all columns except: price, bedrooms, bathrooms, sqft_living, floors, waterfront
1. Remove outliers
1. Split the data into train and test subsets. 20% of the data should be in the test subset

In [4]:
# answer below:
king_cnty = king_county[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors', 'waterfront']]

In [5]:
#dropping outliers
king_cnty = king_cnty[king_cnty['bedrooms'] != (33)]
king_cnty = king_cnty[king_cnty['floors'] != (3.5)]

In [6]:
#splitting data
from sklearn.model_selection import train_test_split

X = king_cnty.drop(['price'], axis=1)
y = king_cnty['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Apply a ridge regression model with lambda=50 to the data and evaluate by looking at r squared for test and train

In [7]:
# answer below:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=50)
ridge.fit(X_train, y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [8]:
print('Ridge train R^2: {:.4f}'.format(ridge.score(X_train, y_train)))
print('Ridge test R^2: {:.4f}'.format(ridge.score(X_test, y_test)))

Ridge train R^2: 0.5399
Ridge test R^2: 0.5388

Perform a grid search for the following values of alpha: 0.001, 0.01, 0.1, 1, 10, 100, 1000 to find the most optimal ridge regression model. Experiment with different scoring metrics in the grid search (R^2 is the default, but you can use root mean squared error or many others). 
https://scikit-learn.org/stable/modules/model_evaluation.html

In [11]:
#answer below:
from sklearn.model_selection import GridSearchCV
grid = {'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

ridge_cv = GridSearchCV(Ridge(), grid, verbose=1, cv=5)
print(ridge_cv.fit(X_train, y_train))

#the best fit in the estimate attribute
print('selected alpha: {}'.format(ridge_cv.best_estimator_.alpha))

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)
selected alpha: 0.001

[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.3s finished

In [14]:
print(
    f"alpha: {ridge_cv.best_estimator_.alpha}\n"
    f"R-squared train: {ridge_cv.best_score_:.3f}\n"
    f"R-squared test {ridge_cv.best_score_:.3f}"
)

alpha: 0.001
R-squared train: 0.542
R-squared test 0.542

In [15]:
ridge_cv2 = GridSearchCV(Ridge(), grid, cv=5, scoring="neg_root_mean_squared_error")
ridge_cv2.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_root_mean_squared_error', verbose=0)

In [16]:

print(
    f"alpha: {ridge_cv2.best_estimator_.alpha}\n"
    f"nRMSE train: {ridge_cv2.best_score_:.3f}\n"
    f"nRMSE test {ridge_cv2.best_score_:.3f}"
)

alpha: 0.001
nRMSE train: -250815.323
nRMSE test -250815.323

In [17]:
ridge_cv3 = GridSearchCV(Ridge(), grid, cv=5, scoring="neg_mean_absolute_error")
ridge_cv3.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [18]:
print(
    f"alpha: {ridge_cv3.best_estimator_.alpha}\n"
    f"nMAE train: {ridge_cv3.best_score_:.3f}\n"
    f"nMAE test {ridge_cv3.best_score_:.3f}"
)

alpha: 0.001
nMAE train: -167850.929
nMAE test -167850.929