# SQL in Python Assignment

In [ ]:
import pandas as pd
from sqlalchemy import *

### Connect to the personal database you created yesterday.
Remember the way the credentials work:
```
user = 'postgres' # Replace with your user, if different
pwd = 'pAsSwOrD' # Replace with your password
host = 'localhost'
port = '5432'
db = 'postgres' # Replace with your database name, if different
```

In [ ]:
user = 'dsbc_student'
pwd = '7*.8G9QH21'
host = '142.93.121.174'
port = '5432'
db = 'fueleconomy'

### Obtain a list of tables that are in the database.

### Obtain a list of all the fields that are in the vehicles table along with the data type of each.

### Write a SELECT query to retrieve all records from the database and load them into a Pandas data frame.

### Create a table that contains all Audi vehicles with a city fuel efficiency greater than 18.

### Delete all records from the temp table you just created.

### Insert records from the vehicles table back into the table you created where the make is Audi and the city fuel efficiency is greater than 20.

### Update the drive field of the records in the table you created to change any "4-Wheel or All-Wheel Drive" values to "All-Wheel Drive."

### Write a for loop that iterates over the list of makes provided below, selects the top 10 vehicles with the highest city fuel efficiency for each make, and then concatenates all the results together into a single Pandas data frame.

In [ ]:
makes = ['Ford', 'Chevrolet', 'Toyota', 'Honda']